# abs.config
# -------------------------------------------------
# Paths
# -------------------------------------------------

PACKAGES_PATH="/media/storage/packages/my"
CHROOT_BASE_PATH="/media/storage/packages/my/chroot"
READY_MADE_PACKAGES_PATH="/media/storage/packages/abs_ready"

# Derived paths
MASTER_CHROOT="${CHROOT_BASE_PATH}/base"

# -------------------------------------------------
# Repositories
# -------------------------------------------------

CACHYOS_REPO_URL="https://github.com/CachyOS/CachyOS-PKGBUILDS.git"
CACHYOS_PACKAGES_PATH="${PACKAGES_PATH}/CachyOS-PKGBUILDS"
