[Desktop Entry]
Type=Application
Name=AbsGUI Package Manager
GenericName=Package manager
Comment=ABS kernel manager and configuration GUI
Exec=absgui
Icon=absgui
Terminal=false
Categories=Utility;System;
Keywords=kernel;ABS;Arch;Linux;PGO;build;
StartupWMClass=absgui
